/* Main setting for styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #2f3640;
}


.click-box {
    background-color: rgba(255, 255, 255, 0.582);
    padding: 55px 55px 100px 22px;
    border: solid 2px rgba(0, 0, 0, 0.404);
    cursor: pointer;
}

/* this is for display X to the view */
.x {
    background: url(../Img/X.png);
    background-size: cover;
}

/* this is for display O to the view */
.o {
    background: url(../Img/O.png);
    background-size: cover;
}

.title {
    width: 50%;
    margin-inline: auto;
    color: #2d3436;
    background-color: #dfe6e9;
    border-radius: 12px;
    padding: 10px 0px 10px 0px;
}


.box-button {
    width: 50%;
    margin-inline: auto;
    margin-top: 250px;
    padding: 25px;
    border: none;
    border-radius: 15px;
    background-color: #273c75;
}


.notification {
    position: absolute;
    left: 50%;
    top: -20%;
    transition: 1s ease;
}

.notif-active {
    top: 7%;
    transition: 1s ease;
}

.notification .notif-content {
    position: relative;
    left: -50%;
}

/* alert */
.alert-custom {
    color: #ecf0f1;
}

.alert-custom-success {
    background-color: #27ae60;
}

.alert-custom-info {
    background-color: #2980b9;
}

.alert-custom-error {
    background-color: #c0392b;
}