<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('partials/head'); %>
  </head>

<body>
    <div id="app" class="container">
      <button v-on:click="startOnline()">play online</button>
      <button v-on:click="startOffline()">play offline</button>

        <div class="d-flex flex-column justify-content-center">
            <h2 class="text-center text-white mt-5">
                Hey Now Is Your Turn
                <strong style="
              background-color: #2c3e50;
              padding: 0px 10px 2px 10px;
              border-radius: 50%;
            ">{{turn}}</strong>
            </h2>
            <div class="mt-5" style="height: 300px;">
                <div class="d-flex justify-content-center">
                    <div id="row" class="row" style="width: 40%;">
                        <div v-on:click="click(1)" class="col-4 click-box" :class="gameState[0][0]"
                            style="border-top-left-radius: 20px"></div>
                        <div v-on:click="click(2)" class="col-4 click-box" :class="gameState[0][1]"></div>
                        <div v-on:click="click(3)" class="col-4 click-box" :class="gameState[0][2]"
                            style="border-top-right-radius: 20px"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div id="row" class="row" style="width: 40%;">
                        <div v-on:click="click(4)" class="col-4 click-box" :class="gameState[1][0]"></div>
                        <div v-on:click="click(5)" class="col-4 click-box" :class="gameState[1][1]"></div>
                        <div v-on:click="click(6)" class="col-4 click-box" :class="gameState[1][2]"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div id="row" class="row" style="width: 40%;">
                        <div v-on:click="click(7)" class="col-4 click-box" :class="gameState[2][0]"
                            style="border-bottom-left-radius: 20px"></div>
                        <div v-on:click="click(8)" class="col-4 click-box" :class="gameState[2][1]"></div>
                        <div v-on:click="click(9)" class="col-4 click-box" :class="gameState[2][2]"
                            style="border-bottom-right-radius: 20px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/cdn'); %>
    <script src="/Js/script.js"></script>
  </body>
</html>
